/* 通用样式设置 */
/* 在css中要用/*进行注释,不能用//!!!!!! */
*,
::before,
::after {
	font-size: 14px;
	padding: 0;
	margin: 0;

	/* -webkit-tap-highlight-color: transparent;*/
	-webkit-tap-highlight-color: transparent ;
	
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	/* 移动端默认字体sans-serif*/
	font-family: '微软雅黑', sans-serif;

}

input {
	border: none;
	-webkit-appearance: none;
}
/* 清除下划线*/
a {
	text-decoration: none;
}
/* 清除小圆点*/
ol,ul {
	list-style: none;
}
/* 增加两个浮动样式类*/
.f_l {
	float: left;
}
.f_r {
	float: right;
}
/* 清除浮动*/
.clearfix::before,
.clearfix::after {
	content: '';
	display: block;
	line-height: 0;
	height: 0;
	visibility: hidden;
	clear: both;
}

